<krpano>                                                       

<imginfo name="a2I9A9260" title="" pic="img/tw/DSC07050.jpg"  text="
"  musicon="true" music="" linkon="true" link=""/>

<imginfo name="a2I9A9261" title="2I9A9261" pic="img/tw/DSC07049.jpg"  text="葛红林董事长与力拓集团董事长杜立石共同为中铝力拓技术合作中心成立揭牌
 Chinalco Chairman Ge Honglin and Rio Tinto Chairman Jan du Plessis unveil RioTinto Chinalco Innovation Joint Venture.
 "  musicon="true" music="yuyin/9.mp3" linkon="true" link=""/>

<imginfo name="a2I9A9234" title="" pic="img/tw/DSC07048.jpg"  text="
"  musicon="true" music="" linkon="true" link=""/>

<imginfo name="a2I9A9233" title="" pic="img/tw/DSC07047.jpg"  text="
"  musicon="true" music="" linkon="true" link=""/>

<imginfo name="a2I9A9232" title="" pic="img/tw/yp.png"  text="
"  musicon="true" music="" linkon="true" link=""/>

<imginfo name="a2I9A9231" title="" pic="img/tw/DSC07045.jpg"  text="
"  musicon="true" music="" linkon="true" link=""/>

<imginfo name="a2I9A9230" title="" pic="img/tw/DSC07043.jpg"  text="
"  musicon="true" music="" linkon="true" link=""/>

<imginfo name="a2I9A9229" title="" pic="img/tw/DSC07042.jpg"  text="中铝商业保理(天津)有限公司揭牌仪式
"  musicon="true" music="yuyin/8.mp3" linkon="true" link=""/>

<imginfo name="a2I9A9237" title="" pic="img/tw/DSC07041.jpg"  text="中铝资本2017年年中工作会暨工会会员大会
"  musicon="true" music="yuyin/7.mp3" linkon="true" link=""/>

<imginfo name="a2I9A9287" title="" pic="img/tw/DSC07040.jpg"  text="中铝资本一周年仪式全体合影
"  musicon="true" music="yuyin/6.mp3" linkon="true" link=""/>

<imginfo name="a2I9A9288" title="" pic="img/tw/DSC07039.jpg"  text="被誉为亚洲第一环的直径6.15米大锻环,应用于航天航空运输火箭The 6.15-meter-diameter forging ring,renowned as Asia's No,1 Ring,is used in launch vehicle
"  musicon="true" music="yuyin/5.mp3" linkon="true" link=""/>


<imginfo name="a2I9A9289" title="" pic="img/tw/DSC07038.jpg"  text="2001年2月23日,中国铝业公司在北京成立. On February 23,2001,CHINALCO was established in Beijing.
"  musicon="true" music="yuyin/4.mp3" linkon="true" link=""/>

<imginfo name="a2I9A9236" title="" pic="img/tw/DSC07037.jpg"  text="
"  musicon="true" music="" linkon="true" link=""/>

<imginfo name="mg36" title="" pic="img/tw/DSC07036.jpg"  text="1958年2月13日,毛泽东到抚顺铝业有限公司视察.Mao Zedong inspected Fushun Aluminum Company on Feb 13,1958."  musicon="true" music="yuyin/3.mp3" linkon="true" link=""/>

<imginfo name="a2I9A9235" title="" pic="img/tw/DSC07035.jpg"  text="
"  musicon="true" music="" linkon="true" link=""/>

<imginfo name="mg29n" title="" pic="img/tw/DSC07034.jpg"  text="中铝集团总经理、党组副书记余德辉赴西北铝业有限责任公司调研"  musicon="true" music="yuyin/2.mp3" linkon="true" link=""/>

<imginfo name="damen" title="" pic="img/tw/damen.jpg"  text="中铝集团党组书记、董事长姚林赴中铝集团定点扶贫点湖北省阳新县调研"  musicon="true" music="yuyin/1.mp3" linkon="true" link=""/>




</krpano>
